<!-- //include header -->

<%-include('include/_header')%>
    <!-- //include header -->

    <div class="card-body">
        <div class="form-group">
            <div class="filter">
                <a href="/provider">
                    <i class="fas fa-angle-double-left"></i>All Providers</a>
            </div>
            <br>
            <div class="form-title text-center">
                <h2 class="text-dark">Update Provider</h2>
                <span class="text-dark">Use the below form to update an account provider</span>
            </div>

        </div>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-8">
                            <!-- /.card-header -->
                            <!-- form start -->

                            <form method="POST" action="/api/providers/update/<%=provider._id%>" id="update_provider ">
                                <div class="card-body ">
                                    <div class="form-group ">
                                        <div class="filter ">
                                            <a href="/provider ">
                                                <i class="fas fa-angle-double-left "></i>All Providers</a>
                                        </div>
                                        <br>

                                        <label for="Email ">Email address</label>
                                        <input type="email " name="email" value="<%=provider.email%>" class="form-control" id="exampleInputEmail1" placeholder=" example@gmail.com">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" name="name" value="<%=provider.name%>" class="form-control" id="exampleInputPassword1" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="date">Joined On</label>
                                        <input type="text" name="date" value="<%=provider.date%>" class="form-control" id="date" placeholder="date">
                                    </div>
                                    <div class="form-group">
                                        <label for="mobile">Mobile On</label>
                                        <input type="number" name="mobile" value="<%=provider.mobile%>" class="form-control" id="mobile" placeholder="mobile no.">
                                    </div>
                                    <div class="form-group">
                                        <label for="rating">Ratings</label>
                                        <input type="number" name="rating" value="<%=provider.rating%>" class="form-control" id="rating" placeholder="rating">
                                    </div>
                                    <div class="form-group">
                                        <label for="wallet">Wallet amount</label>
                                        <input type="number" name="wallet" value="<%=provider.wallet%>" class="form-control" id="wallet" placeholder="date">
                                    </div>


                                    <div class="form-group">
                                        <label for="gender">Status</label>
                                        <div class="radio inline">
                                            <input type="radio" name="status" value="Active" id="radio-4">
                                            <label for="radio-4">Active</label>
                                        </div>
                                        <div class="radio inline">
                                            <input type="radio" name="status" value="Inactive" id="radio-5">
                                            <label for="radio-5">Inactive</label>
                                        </div>
                                    </div>


                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer ">
                                    <button type="submit " id="submit" class=" btn btn-primary ">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="plugins/moment/moment.min.js"></script>
    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="js/demo.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            const admin = JSON.parse(localStorage.getItem('admin'));
            if (!admin) {
                window.location.replace("https://origano-admin.herokuapp.com/adminlogin");
            } else {
                if (admin.role == "company") {
                    window.location.replace("https://origano-admin.herokuapp.com/orders?id=" + admin._id);
                }
            }
        });
    </script>